{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
{% endblock %}


{% block content %}
{% include 'navbar.html' %}
<div class="professional_container">
  <h2>About This Project</h2>
  <hr>
  <p>This is a side project dedicated to learning the in and outs of the Django Framework. </p>
  <p id ="aboutme_link"> For more information <a href="https://j-l5662.github.io">about me</a></p>
  <br>

</div>




{% endblock %}
