{% load static %}
<html>
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
  <div id="registration_page" align="center">
    <h2 >Account Registration</h2>
      <div id="register_form">
        <form action="{% url 'accounts:register_view' %}" method = "POST"> {% csrf_token %}
          {% for field in form %}
          <p>
            <div id ="field_label">
            {{ field.label_tag}}
            </div>
            <div id ="field">
            {{ field }}
            </div>
            {% for error in field.errors %}
              {% if field.help_text %}
              <br>
                <small style="color: grey">{{ field.help_text }}</small>
              {% endif %}
              <p align='center' style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
          {% endfor %}
          <input type='submit' value='Submit'/>
        </form>
      </div>
    </div>
</html>
