{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'cards/style.css' %}">
{% endblock %}
{% block content %}

<div id= "card_col">

  <div id="card_form">
    <div id="cancel_button">
    <a href="{% url 'board:board_view' %}">&times;</a>
    </div>
    <form id="form" method='POST'> {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag}} <br> {{ field }}
      </p>
      {% endfor %}
      <input type='submit' name='Save' value='Save'/>
      <input type='submit' name='Delete' value='Delete'/>
    </form>
  </div>
</div>
{% endblock %}
