#register_form {
  text-align: center;
}
#login_form {
  text-align: center;
}

input[type=submit]:hover {
  background: #007cc2;
  cursor: pointer;
}

body {
  background-image: url('/static/img/email-pattern.png')
}
