{% extends 'base.html' %}
{% load static %}


{% block style %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
{% endblock %}

{% block content %}
<h1 class="center" align="center">Sjmple KanBan</h1>
<p>Hi {{request.user}}</p>
<!-- <p> {{context}} </p> -->
<div align="center" >
  <form  action="{% url 'accounts:register_view' %}" method="POST"> {% csrf_token %}
    <input type='text' name='register' placeholder="Email"/>
    <input type='submit' value="Register"/>
  </form>

</div>
<div  align="center" >
  <p> Already using Sjmple?
  <a href = "{% url 'login' %}" id="login"> Login </a>
  </p>
</div>
{% endblock %}
