{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
{% endblock %}


{% block content %}
{% include 'navbar.html' %}
<h1 align="center">Sjmple KanBan</h1>
<p align="center">A simple Kanban board to visualize your work.</p>

<div align="center" >
  <form action="{% url 'accounts:register_view' %}" method="GET">
    <input type='text' name='register' placeholder="Email"/>
    <input type='submit' value="Register"/>
  </form>

</div>
<div align="center" >
  <p> Already using Sjmple?
  <a href = "{% url 'login' %}" id="login"> Login </a>
  </p>
</div>
{% endblock %}
