{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}">
<link  href="http://fonts.googleapis.com/css?
family=Reenie+Beanie:regular"
rel="stylesheet"
type="text/css">
{% endblock %}
{% block content %}
{% include 'board/board_navbar.html' %}
<h1>{{request.user|title}}'s Site</h1>
{% endblock %}
{% block content2 %}
<table border="3" width="100%" style="margin: 5px; margin-left: 5px;">
  <tr>
   <th class="column">TODO</th>
   <th class="column">In-Progress</th>
   <th class="column">Completed</th>
  </tr>
  <!-- for loop to get the data into the  -->
  {% for card in zipCards %}
  <tr>
      {% if not card.0 %}
        <td id = "empty" align="center"/>
      {% else %}
        <td id = "card_item" align="center">
          <a href='{{ card.0.get_absolute_url }}'>
            <h3>{{card.0.title}} </h3>
            <p> {{card.0.description}} </p>
           </a>
        </td>
      {% endif %}
      {% if card.1 == None %}
        <td id = "empty" align="center"/>
      {% else %}
      <td id = "card_item" align="center">
        <a href='{{ card.1.get_absolute_url }}'>
          <h3>{{card.1.title}} </h3>
          <p> {{card.1.description}} </p>
        </a>
      </td>
      {% endif %}
      {% if card.2 == None %}
        <td id = "empty" align="center"/>
      {% else %}
      <td id = "card_item" align="center">
        <a href='{{ card.2.get_absolute_url }}'>
          <h3>{{card.2.title}} </h3>
          <p> {{card.2.description}} </p>
        </a>
      </td>
      {% endif %}
  </tr>
  {% endfor %}

  <tr>
    <td class = "add_card_link" align="center">
      <a href='/cards/add'>Add</a>
    </td>
    <td class = "add_card_link" align="center">
      <a href='/cards/add'>Add</a>
    </td><td class = "add_card_link" align="center">
      <a href='/cards/add'>Add</a>
    </td>
  </tr>
</table>

{% endblock %}
