{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<h1>KanBan Site</h1>
<p>Hi {{request.user}}</p>
<p> {{context}} </p>
{% endblock %}
{% block content2 %}
<table border="3" width="100%" style="margin: 5px; margin-left: 5px;">
  <tr>
   <th class="column">TODO</th>
   <th class="column">In-Progress</th>
   <th class="column">Completed</th>
  </tr>
  <!-- for loop to get the data into the  -->
  {% for card in zipCards %}
  <tr>
      {% if not card.0 %}
        <td id = "todo_id" align="center"/>
      {% else %}
        <td id = "todo_id" align="center">
          <a href='{{ card.0.get_absolute_url }}'> {{card.0.title}} </a>
          <p> {{card.0.description}} </p>
        </td>
      {% endif %}
      {% if card.1 == None %}
        <td id = "inpr_id" align="center"/>
      {% else %}
      <td id = "inpr_id" align="center">
        <a href='{{ card.1.get_absolute_url }}'> {{card.1.title}} </a>
        <p> {{card.1.description}} </p>
      </td>
      {% endif %}
      {% if card.2 == None %}
        <td id = "done_id" align="center"/>
      {% else %}
      <td id = "done_id" align="center">
        <a href='{{ card.2.get_absolute_url }}'> {{card.2.title}} </a>
        <p> {{card.2.description}} </p>
      </td>
      {% endif %}
  </tr>
  {% endfor %}

  <tr>
    <td class = "add_card_link" align="center">
      <a href='/cards/add'>Add</a>
    </td>
    <td class = "add_card_link" align="center">
      <a href='/cards/add'>Add</a>
    </td><td class = "add_card_link" align="center">
      <a href='/cards/add'>Add</a>
    </td>
  </tr>
</table>

{% endblock %}
